body {background-color: lavender;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  
}


body {
  color: black;
  position: relative;
    left: 10px;
}

h3 {
  color: black;
}

label {
  color:black;
  font-weight: normal;
}

#yup {
  display: none;
  color: green;
}

#submit {
  display: inline-block;
}

#yup1 {
  display: none;
  color: green;
}

#yup2 {
  display: none;
  color: green;
}

#yup3 {
  display: none;
  color: green;
}



